<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  html,
  body {
    padding: 0;
    margin: 0;
  }

  b {
    font-size: 40px;
  }

  #banner {
    text-align: center;
    font-size: 30px;
    background-color: #c2c2c2;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    color: black;
  }

  #option {
    background-color: #c2c2c2;
    /* border: none; */
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-color: black;
    width: 140px;
    position: fixed;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: black;
  }

  button {
    background-color: #000000;
    /* border: none; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 8px;
    border-style: solid;
    border-color: #629749;
    width: 140px;
  }

  button:hover {
    background-color: #1e911e;
  }

  img {
    position: fixed;
    right: 0;
    top: 90%;
    width: 7%;
    margin-top: -2.5em;
  }

  #czas {
    position: fixed;
    left: 0;
    bottom: 0;
  }

  input[type=text] {
    font-size: 16px;
    border-radius: 8px;
    border-style: solid;
    border-color: #629749;
    width: 130px;
  }

  #lista {
    text-align: center;
    font-size: 25px;
  }

</style>

<!-- Toolbar -->
<div id=banner>
  <b>Angular</b> - TEST Document Object Model (CRUD)
</div>

<div class="content" role="main">
  <div id="option">
    <div id="description">
      Zarządzanie obiektami:
    </div>
    <input type="text" id="howMany" name="howMany" placeholder="Wpisz ilość" /><br />
    <button (click)="create()">Stwórz</button>
    <button (click)="add()">Dodaj</button>
    <button (click)="ddelete()">Usuń</button>
    <button (click)="update()">Zaktualizuj</button>
    <button (click)="clean()">Wyczyść</button>
  </div>
  <div id="lista">
    <div *ngFor="let selector of selectors; index as i; first as isFirst">{{selector + 1}} obiekt</div>
  </div>
</div>
<div id="czas">Czas wykonania w milisekundach: <span id="timer"></span> </div>
<div id=logo>
  <img alt="UAM" src="../assets/logo-uam.jpg">
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
